a {
  text-decoration: none;
}

img {
  -webkit-user-drag: none;
}

.font-projects {
  font-family: League Spartan, Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 18px;

  @media only screen and (max-width: 1050px) {
    font-size: 16px;
  }

  @media only screen and (max-width: 950px) {
    font-size: 14px;
  }

  @media only screen and (max-width: 800px) {
    font-size: 12px;
  }

  @media only screen and (max-width: 700px) {
    font-size: 9px;
  }
}

#role-bullseye {
  @media only screen and (max-width: 550px) {
    margin-left: 2vh;
  }
}

#introduction-bullseye {
  font-size: 65px;

  @media only screen and (min-width: 523px) and (max-width: 615px) {
    font-size: 50px;
  }

  @media only screen and (min-width: 453px) and (max-width: 522px) {
    font-size: 44px;
  }

  @media only screen and (max-width: 452px) {
    font-size: 35px;
  }
}

#intro-desc-bullseye {
  font-size: 22px;
  width: 40%;

  @media only screen and (max-width: 1050px) {
    width: 50%;
  }

  @media only screen and (max-width: 900px) {
    font-size: 20px;
    width: 60%;
  }

  @media only screen and (min-width: 523px) and (max-width: 750px) {
    font-size: 18px;
    width: 65%;
  }

  @media only screen and (min-width: 453px) and (max-width: 522px) {
    font-size: 16px;
    width: 65%;
  }

  @media only screen and (max-width: 452px) {
    font-size: 14px;
    width: 70%;
  }
}

.visit-website-project {
  border-width: 1px;
  border: solid white;
  background: transparent;
  width: 200px;
  height: 50px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 22px;
  font-weight: 600;
  cursor: pointer;
  z-index: 3;
  text-decoration: none;
  transition: all 0.2s ease;

  &:hover {
    background: white;
    color: #464d62;
  }

  @media only screen and (min-width: 453px) and (max-width: 522px) {
    width: 180px;
    height: 45px;
    font-size: 20px;
  }

  @media only screen and (max-width: 452px) {
    width: 160px;
    height: 40px;
    font-size: 18px;
  }
}

.visit-website-project-1 {
  border-width: 1px;
  background: linear-gradient(to left, #fab8b8, #e66465, #fab8b8, #e66465);
  background-size: 400% 400%;
  width: 200px;
  height: 50px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 22px;
  font-weight: 600;
  cursor: pointer;
  z-index: 3;
  text-decoration: none;
  // transition: background-position 5s ease;

  &:hover {
    animation: linear-fade 1.5s ease infinite;
  }
}

.visit-website-project-2 {
  border-width: 1px;
  background: linear-gradient(to left, #d4d086, #bfc207, #d4d086, #bfc207);
  background-size: 400% 400%;
  width: 200px;
  height: 50px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 22px;
  font-weight: 600;
  cursor: pointer;
  z-index: 3;
  text-decoration: none;
  // transition: background-position 5s ease;

  &:hover {
    animation: linear-fade 1.5s ease infinite;
  }
}

@keyframes linear-fade {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

#name--bullseye {
  font-size: 65px;

  @media only screen and (min-width: 523px) and (max-width: 615px) {
    font-size: 50px;
    text-align: center;
  }

  @media only screen and (min-width: 453px) and (max-width: 522px) {
    font-size: 40px;
    text-align: center;
  }

  @media only screen and (max-width: 452px) {
    font-size: 30px;
    text-align: center;
  }
}

#desc--bullseye {
  font-size: 22px;

  @media only screen and (min-width: 523px) and (max-width: 615px) {
    font-size: 20px;
    text-align: center;
  }

  @media only screen and (min-width: 453px) and (max-width: 522px) {
    font-size: 17px;
    text-align: center;
  }

  @media only screen and (max-width: 452px) {
    font-size: 14px;
    text-align: center;
  }
}

#theproject {
  font-size: 40px;

  @media only screen and (min-width: 453px) and (max-width: 522px) {
    font-size: 35px;
  }

  @media only screen and (max-width: 452px) {
    font-size: 30px;
  }
}

.happilist-intro {
  background: linear-gradient(to left, #001000, #1c1d25);
}

.all-projects-p {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  color: lightgray;
  transition: color 0.3s ease;
  font-size: 23px;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
    bottom: 0;
    transform: translateX(-110%);
    transition: transform 0.3s ease;
    animation: sliding-out 0.3s;
  }
  &:hover::before {
    animation: sliding-in 0.3s;
    transform: translateX(0);
  }

  &:hover {
    color: white;
  }

  @media only screen and (max-width: 470px) {
    font-size: 16px;
  }
}

@keyframes sliding-in {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes sliding-out {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(100%);
  }
}

.animation-fade-bot {
  opacity: 0;
  animation: fadein 0.5s 1s;
}

.animation-fade-top {
  opacity: 0;
  animation: fadeintop 0.5s 1s;
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(50%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeintop {
  from {
    opacity: 0;
    transform: translateY(-50%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.all-projects-div {
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: scroll;
  overscroll-behavior-inline: contain;
}

.all-projects-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 60vh;
  margin-top: 5vh;
}

.shadow-pj {
  box-shadow: 0 0 20px black;
}

.close-overlay {
  position: fixed;
  top: 0;
  width: 100px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0);
  z-index: 11;
}

.close-child {
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, #fff767 #028cf6);
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 12;
}

.shadow-img {
  box-shadow: 0 0 50px black;
}

.p-desc-projects {
  font-family: LibreBaskerville-Regular, Palatino Linotype, Times New Roman,
    serif;
  font-size: 23.5px;
  color: #545454;
  line-height: 1.5;
}

.line-divider {
  width: 10%;
  background-color: black;
  height: 3px;
  margin-top: 30px;
}

.sub-title-project {
  font-size: 27px;
  font-weight: 600;
}

.subtitle-bullseye {
  font-size: 27px;

  @media only screen and (max-width: 870px) {
    font-size: 23px;
    width: 120%;
    text-align: center;
  }

  @media only screen and (max-width: 600px) {
    font-size: 20px;
    width: 150%;
    text-align: center;
  }

  @media only screen and (max-width: 420px) {
    font-size: 16px;
    width: 150%;
    text-align: center;
  }
}

.subtitle-bullseye2 {
  font-size: 27px;

  @media only screen and (max-width: 870px) {
    font-size: 23px;
    width: 120%;
    text-align: center;
  }

  @media only screen and (max-width: 600px) {
    font-size: 20px;
    width: 150%;
    text-align: center;
  }

  @media only screen and (max-width: 420px) {
    font-size: 16px;
    width: 150%;
    text-align: center;
  }
}

.images-bullseye {
  height: 300px;
  width: 700px;
  position: absolute;

  @media only screen and (max-width: 1030px) {
    width: 600px;
    height: 280px;
    position: static;
  }

  @media only screen and (max-width: 800px) {
    width: 500px;
    height: 230px;
    position: static;
  }

  @media only screen and (max-width: 590px) {
    width: 420px;
    height: 170px;
    position: static;
  }

  @media only screen and (max-width: 500px) {
    width: 350px;
    height: 160px;
    position: static;
  }

  @media only screen and (max-width: 415px) {
    width: 300px;
    height: 130px;
    position: static;
  }

  @media only screen and (max-width: 370px) {
    width: 250px;
    height: 110px;
    position: static;
  }
}

#image1-bull {
  right: 0;
  bottom: -50px;

  @media only screen and (max-width: 1030px) {
    margin-bottom: 40px;
  }
}

#container-2-bullseye {
  width: 130%;
  display: flex;
  flex-direction: row;

  @media only screen and (max-width: 1470px) {
    flex-direction: column;
    align-items: center;
  }
}

#container-2child {
  width: 40%;
  display: flex;
  flex-direction: column;

  @media only screen and (max-width: 1470px) {
    width: 57%;
    align-items: center;
  }
}

.line-divider2 {
  width: 10%;
  background-color: black;
  height: 3px;
  margin-top: 30px;
  margin-bottom: 30px;
}

#paragraph-container-bullseye {
  width: 100%;
}

.top2 {
  width: 70%;

  @media only screen and (max-width: 900px) {
    width: 110%;
    font-size: 20px;
  }

  @media only screen and (max-width: 600px) {
    font-size: 18px;
    width: 130%;
  }

  @media only screen and (max-width: 420px) {
    font-size: 14px;
    width: 140%;
    text-align: center;
  }
}

.bottom2 {
  width: 100%;

  @media only screen and (max-width: 900px) {
    width: 145%;
    font-size: 20px;
  }

  @media only screen and (max-width: 600px) {
    font-size: 18px;
    width: 170%;
  }

  @media only screen and (max-width: 420px) {
    font-size: 14px;
    width: 175%;
    text-align: center;
  }
}

.tech-stack-icon {
  width: 80px;
  height: 80px;
  margin-left: 3vw;
  cursor: pointer;
}

.project-body-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 10vh;
  background-color: whitesmoke;
}

.next-project {
  width: 100%;
  height: 15vh;
  box-shadow: 0 0 5px lightgray;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &::before {
    content: "";
    background-color: rgb(54, 54, 54);
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    transition: transform 0.5s ease;
    position: absolute;
    top: 0;
    bottom: 0;
  }

  &:hover::before {
    transform: translateX(0);
  }

  &::after {
    content: "";
    background-color: rgb(44, 160, 135);
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    transition: transform 0.4s ease 0.1s;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
  }

  &:hover::after {
    transform: translateX(0%);
  }

  &:hover > div > div > .color-change-next1 {
    color: white;
  }

  &:hover > div > div > .color-change-next2 {
    color: white;
  }

  &:hover > div > .svg-arrow-container {
    animation: bounce 2s ease infinite;
  }

  &:hover > div > .svg-arrow-container > svg > #path-fill-arrow {
    fill: white;
  }

  @media only screen and (max-width: 350px) {
    margin-left: -15%;
    width: 115%;
  }
}

.next-project-2 {
  width: 100%;
  height: 15vh;
  box-shadow: 0 0 5px lightgray;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &::before {
    content: "";
    background-color: rgb(249, 245, 5);
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    transition: transform 0.5s ease;
    position: absolute;
    top: 0;
    bottom: 0;
  }

  &:hover::before {
    transform: translateX(0);
  }

  &::after {
    content: "";
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    transition: transform 0.4s ease 0.1s;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
  }

  &:hover::after {
    transform: translateX(0%);
  }

  &:hover > div > div > .color-change-next3 {
    color: white;
  }

  &:hover > div > div > .color-change-next4 {
    color: white;
  }

  &:hover > div > .svg-arrow-container {
    animation: bounce 2s ease infinite;
  }

  &:hover > div > .svg-arrow-container > svg > #path-fill-arrow {
    fill: white;
  }
}

.color-change-next1 {
  font-size: 18px;
  color: rgb(44, 160, 135);
  transition: color 0.8s ease 0.1s;
  @media only screen and (max-width: 550px) {
    font-size: 14px;
  }
}

.color-change-next2 {
  font-size: 55px;
  margin-top: 7px;
  font-family: League Spartan, Helvetica, Arial, sans-serif;
  transition: color 0.5s ease;

  @media only screen and (max-width: 550px) {
    font-size: 40px;
  }
}

.color-change-next3 {
  font-size: 18px;
  color: rgb(7, 169, 238);
  transition: color 0.8s ease 0.1s;

  @media only screen and (max-width: 550px) {
    font-size: 14px;
  }
}

.color-change-next4 {
  font-size: 55px;
  margin-top: 7px;
  font-family: League Spartan, Helvetica, Arial, sans-serif;
  transition: color 0.5s ease;

  @media only screen and (max-width: 550px) {
    font-size: 40px;
  }
}

.svg-arrow-container {
  transform: translateX(83%);
  transition: transform 1.2s ease;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateX(83%);
  }

  40% {
    transform: translateX(87%);
  }
  60% {
    transform: translateX(86%);
  }
}

#path-fill-arrow {
  fill: black;
  transition: fill 0.5s ease;
}

.underline-fade-a {
  color: white;
  font-size: 22px;
  font-weight: 600;
  margin-top: 20px;
  position: relative;
  text-decoration: none;

  &::before {
    content: "";
    background: white;
    width: 100%;
    height: 1.5px;
    opacity: 0;
    transition: opacity 1s ease;
    position: absolute;
    bottom: 0;
  }

  &:hover::before {
    opacity: 1;
  }
}

.techstack-container {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 5vh;
  justify-content: center;
  width: 100%;
  @media only screen and (max-width: 750px) {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(22%, 1fr));
    gap: 2% 2%;
    width: 150%;
  }

  @media only screen and (max-width: 490px) {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
    gap: 4% 2%;
    width: 165%;
  }
}

#logo-bullseye {
  margin-left: 10vw;
  width: 80px;
  height: 80px;

  @media only screen and (max-width: 470px) {
    height: 55px;
    width: 55px;
  }
}
