.font-projects {
  font-family: League Spartan, Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 18px;
}

.visit-website-project {
  border-width: 1px;
  border: solid white;
  background: transparent;
  width: 200px;
  height: 50px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 22px;
  font-weight: 600;
  cursor: pointer;
  z-index: 3;
  text-decoration: none;
  transition: all 0.2s ease;

  &:hover {
    background: white;
    color: #464d62;
  }
}

.visit-website-project-1 {
  border-width: 1px;
  background: linear-gradient(to left, #fab8b8, #e66465, #fab8b8, #e66465);
  background-size: 400% 400%;
  width: 200px;
  height: 50px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 22px;
  font-weight: 600;
  cursor: pointer;
  z-index: 3;
  text-decoration: none;
  // transition: background-position 5s ease;

  &:hover {
    animation: linear-fade 1.5s ease infinite;
  }
}

.visit-website-project-2 {
  border-width: 1px;
  background: linear-gradient(to left, #d4d086, #bfc207, #d4d086, #bfc207);
  background-size: 400% 400%;
  width: 200px;
  height: 50px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 22px;
  font-weight: 600;
  cursor: pointer;
  z-index: 3;
  text-decoration: none;
  // transition: background-position 5s ease;

  &:hover {
    animation: linear-fade 1.5s ease infinite;
  }
}

@keyframes linear-fade {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

.happilist-intro {
  background: linear-gradient(to left, #001000, #1c1d25);
}

.all-projects-p {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  color: lightgray;
  transition: color 0.3s ease;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
    bottom: 0;
    transform: translateX(-110%);
    transition: transform 0.3s ease;
    animation: sliding-out 0.3s;
  }
  &:hover::before {
    animation: sliding-in 0.3s;
    transform: translateX(0);
  }

  &:hover {
    color: white;
  }
}

@keyframes sliding-in {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes sliding-out {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(100%);
  }
}

.animation-fade-bot {
  opacity: 0;
  animation: fadein 0.5s 1s;
}

.animation-fade-top {
  opacity: 0;
  animation: fadeintop 0.5s 1s;
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(50%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeintop {
  from {
    opacity: 0;
    transform: translateY(-50%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.all-projects-div {
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: scroll;
  overscroll-behavior-inline: contain;
}

.all-projects-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 60vh;
  margin-top: 5vh;
}

.shadow-pj {
  box-shadow: 0 0 20px black;
}

.close-overlay {
  position: fixed;
  top: 0;
  width: 100px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0);
  z-index: 11;
}

.close-child {
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, #fff767 #028cf6);
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 12;
}

.shadow-img {
  box-shadow: 0 0 50px black;
}

.p-desc-projects {
  font-family: LibreBaskerville-Regular, Palatino Linotype, Times New Roman,
    serif;
  font-size: 23.5px;
  color: #545454;
  line-height: 1.5;
}

.line-divider {
  width: 10%;
  background-color: black;
  height: 3px;
  margin-top: 30px;
}

.sub-title-project {
  font-size: 27px;
  font-weight: 600;
}

.tech-stack-icon {
  width: 80px;
  height: 80px;
  margin-left: 3vw;
  cursor: pointer;
}

.project-body-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 10vh;
  background-color: whitesmoke;
}

.next-project {
  width: 100%;
  height: 15vh;
  box-shadow: 0 0 5px lightgray;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &::before {
    content: "";
    background-color: rgb(54, 54, 54);
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    transition: transform 0.5s ease;
    position: absolute;
    top: 0;
    bottom: 0;
  }

  &:hover::before {
    transform: translateX(0);
  }

  &::after {
    content: "";
    background-color: rgb(44, 160, 135);
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    transition: transform 0.4s ease 0.1s;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
  }

  &:hover::after {
    transform: translateX(0%);
  }

  &:hover > div > div > .color-change-next1 {
    color: white;
  }

  &:hover > div > div > .color-change-next2 {
    color: white;
  }

  &:hover > div > .svg-arrow-container {
    animation: bounce 2s ease infinite;
  }

  &:hover > div > .svg-arrow-container > svg > #path-fill-arrow {
    fill: white;
  }
}

.color-change-next1 {
  font-size: 18px;
  color: rgb(44, 160, 135);
  transition: color 0.8s ease 0.1s;
}

.color-change-next2 {
  font-size: 55px;
  margin-top: 7px;
  font-family: League Spartan, Helvetica, Arial, sans-serif;
  transition: color 0.6s ease 0.1s;
}

.svg-arrow-container {
  transform: translateX(40%);
  transition: transform 1.2s ease;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateX(40%);
  }

  40% {
    transform: translateX(44%);
  }
  60% {
    transform: translateX(43%);
  }
}

#path-fill-arrow {
  fill: black;
  transition: fill 0.5s ease;
}
