.parent {
  height: 100vh;
  width: 100%;
  background-color: black;
  top: 0;
  overflow-y: hidden;
  overflow-x: hidden;
  position: relative;
  /* position: fixed; */
}

.logo-color {
  stroke: #0affa7;
  animation: color-change 12s ease infinite;
}

@keyframes color-change {
  15% {
    stroke: aqua;
  }

  30% {
    stroke: blue;
  }

  45% {
    stroke: red;
  }

  60% {
    stroke: orange;
  }

  75% {
    stroke: purple;
  }

  90% {
    stroke: yellow;
  }

  105% {
    stroke: #0affa7;
  }
}

.burger-color {
  fill: darkgray;
}

.burger-color-div:hover > svg > g > .burger-color {
  animation: color-change-2 3s ease infinite;
}

@keyframes color-change-2 {
  25% {
    fill: #0affa7;
  }

  50% {
    fill: yellow;
  }

  75% {
    fill: red;
  }

  100% {
    fill: aqua;
  }
}

.burger-color-div {
  height: 47px;
  width: 60px;
  margin-top: 3.5vh;
  margin-right: 10vh;
  cursor: pointer;
}

.main-container {
  overflow: hidden;
  position: relative;
}

.menu-items {
  color: white;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  font-weight: 600;
  cursor: pointer;
  width: 65vw;
  box-shadow: inset 0 0 0 0.09px black;
  transition: box-shadow 1s;
  &:hover {
    box-shadow: inset 65vw 20vh plum;
  }
}

#text-intro::selection {
  background: plum;
}

#burger-animation-first::-webkit-scrollbar {
  display: none;
}

#burger-animation-first {
  overflow-x: hidden;
}

#linkedin-logo {
  cursor: pointer;
  margin-top: 3.5vh;
  transform: translateY(-250%);
}
#linkedin-path {
  fill: lightgray;
  transition: 0.5s ease;
}

#linkedin-logo:hover > #linkedin-path {
  fill: white;
}

#github-logo {
  margin-top: 3.5vh;
  cursor: pointer;
  margin-right: 30px;
  transform: translateY(-250%);
}

#github-path {
  fill: lightgray;
  transition: 0.5s ease;
}

#github-logo:hover > #github-path {
  fill: white;
}

.container-projects-img {
  background-color: black;
  height: 39vh;
  width: 48vw;
  margin-bottom: 10vh;
}

#first-project {
  box-shadow: 0 0 20px gray;
  transition: box-shadow 0.5s ease;
  cursor: pointer;
}

#first-project:hover {
  box-shadow: 0 0 40px gray;
}

#name-bullseye {
  font-size: 44px;
  font-weight: 600;
  transition: font-size 0.5s ease;
}

#first-project:hover > #name-bullseye {
  font-size: 47.5px;
}

#desc-bullseye {
  font-size: 22px;
  transition: font-size 0.5s ease;
}

#first-project:hover > #desc-bullseye {
  font-size: 24px;
}

.view-project-button {
  width: 150px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to left, #fb9696, #e66465);
  position: absolute;
  right: 50;
  bottom: 90;
  color: white;
  z-index: 3;
  cursor: pointer;
  font-size: 19px;
  transition: all 0.5s ease;
}

#first-project:hover > #bullseye-view-but {
  width: 165px;
  height: 45px;
}
