.parent {
  height: 100vh;
  width: 100%;
  background-color: black;
  top: 0;
  overflow-y: hidden;
  overflow-x: hidden;
  position: relative;
}

.scale-logo-animation {
  animation: scalea 2s ease;
}

.blob-scalea {
  animation: scalea2 1.8s ease;
}

@media (pointer: coarse) {
  #first-project {
    pointer-events: none;
  }

  #second-project {
    pointer-events: none;
  }

  #third-project {
    pointer-events: none;
  }
}

@keyframes scalea {
  from {
    transform: scale(0.1);
  }

  to {
    transform: scale(1);
  }
}

@keyframes scalea2 {
  from {
    transform: scale(0.1);
  }

  to {
    transform: scale(1);
  }
}

.text-animation-intro {
  animation: bottomup 1.5s ease;
}

@keyframes bottomup {
  from {
    opacity: 0;
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.opacity0-topnav {
  opacity: 0;
  transform: translateY(-150%);
}

.topnav-animation {
  animation: fromtop 1.7s ease;
}

@keyframes fromtop {
  from {
    transform: translateY(-150%);
  }

  to {
    transform: translateY(0);
  }
}

.opacity0 {
  opacity: 0;
  display: none;
}

.opacity0-blob {
  opacity: 0;
  display: none;
}

.logo-color {
  stroke: red;
  animation: color-change 12s ease infinite;
}

.logo-color-a {
  opacity: 0;
}

.fadein {
  stroke: red;
  opacity: 1;
  transition: opacity 4.5s ease;
}

.logo-color3 {
  stroke: red;
  stroke-dasharray: 10;
  stroke-dashoffset: 0;
  animation: dash3 0.8s ease-in 2s;
  opacity: 0;
}

@keyframes dash3 {
  from {
    opacity: 1;
    stroke-dashoffset: 10;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.logo-color4 {
  stroke: red;
  stroke-dasharray: 21;
  stroke-dashoffset: 0;
  animation: dash4 0.8s ease-in 2s;
  opacity: 0;
}

@keyframes dash4 {
  from {
    opacity: 1;
    stroke-dashoffset: -21;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.logo-color5 {
  stroke: red;
  stroke-dasharray: 20;
  stroke-dashoffset: 0;
  animation: dash5 0.8s ease-in 2s;
  opacity: 0;
}

@keyframes dash5 {
  from {
    opacity: 1;
    stroke-dashoffset: 20;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.logo-color6 {
  //opacity 0
  stroke: red;
  stroke-dasharray: 40;
  stroke-dashoffset: 0;
  animation: dash6 0.8s ease-in 2.5s;
  opacity: 0;
}

@keyframes dash6 {
  from {
    opacity: 1;
    stroke-dashoffset: 40;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.logo-color7 {
  //opacity 0
  stroke: red;
  stroke-dasharray: 48;
  stroke-dashoffset: 0;
  animation: dash7 0.8s ease-in 2.5s;
  opacity: 0;
}

@keyframes dash7 {
  from {
    opacity: 1;
    stroke-dashoffset: 48;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.logo-color8 {
  //opacity 0
  stroke: red;
  stroke-dasharray: 22;
  stroke-dashoffset: 0;
  animation: dash8 0.8s ease-in 3s;
  opacity: 0;
}

@keyframes dash8 {
  from {
    opacity: 1;
    stroke-dashoffset: 22;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.logo-color9 {
  //opacity 0
  stroke: red;
  stroke-dasharray: 33;
  stroke-dashoffset: 0;
  animation: dash9 0.8s ease-in 3.5s;
  opacity: 0;
}

@keyframes dash9 {
  from {
    opacity: 1;
    stroke-dashoffset: 33;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.logo-color10 {
  //opacity 0
  stroke: red;
  stroke-dasharray: 21;
  stroke-dashoffset: 0;
  animation: dash10 0.8s ease-in 4.5s;
  opacity: 0;
}

@keyframes dash10 {
  from {
    opacity: 1;
    stroke-dashoffset: 21;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.logo-color11 {
  //opacity 0
  stroke: red;
  stroke-dasharray: 35;
  stroke-dashoffset: 0;
  animation: dash11 0.8s ease-in 4s;
  opacity: 0;
}

@keyframes dash11 {
  from {
    opacity: 1;
    stroke-dashoffset: 35;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes color-change {
  15% {
    stroke: aqua;
  }

  30% {
    stroke: blue;
  }

  45% {
    stroke: red;
  }

  60% {
    stroke: orange;
  }

  75% {
    stroke: purple;
  }

  90% {
    stroke: yellow;
  }

  105% {
    stroke: #0affa7;
  }
}

.burger-color {
  fill: darkgray;
}

.burger-color-div:hover > svg > g > .burger-color {
  animation: color-change-2 3s ease infinite;
}

@keyframes color-change-2 {
  25% {
    fill: #0affa7;
  }

  50% {
    fill: yellow;
  }

  75% {
    fill: red;
  }

  100% {
    fill: aqua;
  }
}

.burger-color-div {
  height: 47px;
  width: 60px;
  margin-top: 3.5vh;
  margin-right: 10vh;
  cursor: pointer;
}

.main-container {
  overflow: hidden;
  position: relative;
}

.menu-items {
  color: white;
  user-select: none;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  font-weight: 600;
  cursor: pointer;
  width: 65vw;
  box-shadow: inset 0 0 0 0.09px black;
  transition: box-shadow 1s;
  &:hover {
    box-shadow: inset 65vw 20vh plum;
  }
}

#text-intro::selection {
  background: plum;
}

#burger-animation-first::-webkit-scrollbar {
  display: none;
}

#burger-animation-first {
  overflow-x: hidden;
}

#linkedin-logo {
  cursor: pointer;
  margin-top: 3.5vh;
  transform: translateY(-250%);
}
#linkedin-path {
  fill: lightgray;
  transition: 0.5s ease;
}

#linkedin-logo:hover > #linkedin-path {
  fill: white;
}

#github-logo {
  margin-top: 3.5vh;
  cursor: pointer;
  margin-right: 30px;
  transform: translateY(-250%);
}

#github-path {
  fill: lightgray;
  transition: 0.5s ease;
}

#github-logo:hover > #github-path {
  fill: white;
}

.container-projects-img {
  background-color: black;
  height: 43vh;
  margin-bottom: 10vh;
  z-index: 5;
}

#test {
  background: linear-gradient(
    to left,
    rgb(222, 222, 247),
    white,
    rgb(222, 222, 247),
    white
  );
  background-size: 400% 400%;
  animation: linear-fade1 8s ease infinite;
}

@media only screen and (min-width: 800px) and (max-width: 1000px) {
  .container-projects-img {
    aspect-ratio: 16/9;
    height: 38vh;
  }
}

@media only screen and (min-width: 700px) and (max-width: 799px) {
  .container-projects-img {
    aspect-ratio: 16/9;
    height: 33vh;
  }
}

@media only screen and (min-width: 616px) and (max-width: 699px) {
  .container-projects-img {
    aspect-ratio: 16/9;
    height: 29vh;
  }
}

@media only screen and (min-width: 523px) and (max-width: 615px) {
  .container-projects-img {
    aspect-ratio: 16/9;
    height: 24vh;
  }
}

@media only screen and (min-width: 453px) and (max-width: 522px) {
  .container-projects-img {
    aspect-ratio: 16/9;
    height: 20vh;
  }
}

@media only screen and (max-width: 452px) {
  .container-projects-img {
    width: 80%;
    height: 150px;
  }
}

@media only screen and (max-width: 325px) {
  .container-projects-img {
    width: 100%;
    height: 150px;
  }
}

.title-projects {
  font-size: 44px;
  font-weight: 600;
  position: absolute;
  bottom: 140px;

  @media only screen and (min-width: 800px) and (max-width: 1000px) {
    font-size: 37px;
  }

  @media only screen and (min-width: 700px) and (max-width: 799px) {
    font-size: 33px;
  }

  @media only screen and (min-width: 616px) and (max-width: 699px) {
    font-size: 30px;
  }

  @media only screen and (min-width: 523px) and (max-width: 615px) {
    font-size: 25px;
  }

  @media only screen and (min-width: 453px) and (max-width: 522px) {
    font-size: 22px;
  }

  @media only screen and (max-width: 452px) {
    font-size: 20px;
    bottom: 120px;
  }
}

.description-projects {
  font-size: 22px;

  @media only screen and (min-width: 800px) and (max-width: 1000px) {
    font-size: 19px;
  }

  @media only screen and (min-width: 700px) and (max-width: 799px) {
    font-size: 18px;
  }

  @media only screen and (min-width: 616px) and (max-width: 699px) {
    font-size: 17px;
  }

  @media only screen and (min-width: 523px) and (max-width: 615px) {
    font-size: 15px;
  }

  @media only screen and (min-width: 453px) and (max-width: 522px) {
    font-size: 14px;
  }

  @media only screen and (max-width: 452px) {
    font-size: 11px;
  }
}

@keyframes linear-fade1 {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

#first-project {
  box-shadow: 0 0 20px gray;
  transition: box-shadow 0.5s ease;
  cursor: pointer;
  position: relative;
}

#first-project:hover {
  box-shadow: 0 0 40px gray;
}

.boxshadow-projects {
  box-shadow: 0 0 20px gray;
  transition: box-shadow 0.5s ease;
  cursor: pointer;
}

.boxshadow-projects:hover {
  box-shadow: 0 0 40px gray;
}

#name-bullseye {
  transition: font-size 0.5s ease;
  bottom: 140px;
  right: 50px;

  @media only screen and (min-width: 700px) and (max-width: 799px) {
    bottom: 124px;
  }

  @media only screen and (min-width: 616px) and (max-width: 699px) {
    bottom: 109px;
  }

  @media only screen and (min-width: 523px) and (max-width: 615px) {
    bottom: 101px;
  }

  @media only screen and (min-width: 453px) and (max-width: 522px) {
    bottom: 93px;
  }

  @media only screen and (max-width: 452px) {
    bottom: 80px;
  }
}

#name-happy {
  transition: font-size 0.5s ease;
  color: white;
  text-decoration: none;
  z-index: 3;
  user-select: none;
  bottom: 140px;
  left: 50px;

  @media only screen and (min-width: 700px) and (max-width: 799px) {
    bottom: 124px;
  }

  @media only screen and (min-width: 616px) and (max-width: 699px) {
    bottom: 109px;
  }

  @media only screen and (min-width: 523px) and (max-width: 615px) {
    bottom: 101px;
  }

  @media only screen and (min-width: 453px) and (max-width: 522px) {
    bottom: 93px;
  }

  @media only screen and (max-width: 452px) {
    bottom: 92px;
  }
}

#name-personal {
  transition: font-size 0.5s ease;
  bottom: 140px;
  right: 50px;

  @media only screen and (min-width: 700px) and (max-width: 799px) {
    bottom: 124px;
  }

  @media only screen and (min-width: 616px) and (max-width: 699px) {
    bottom: 109px;
  }

  @media only screen and (min-width: 523px) and (max-width: 615px) {
    bottom: 101px;
  }

  @media only screen and (min-width: 453px) and (max-width: 522px) {
    bottom: 93px;
  }

  @media only screen and (max-width: 452px) {
    bottom: 80px;
  }
}

#first-project:hover > #name-bullseye {
  font-size: 47.5px;

  @media screen and (hover: hover) and (min-width: 800px) and (max-width: 1000px) {
    font-size: 42px;
  }

  @media screen and (hover: hover) and (min-width: 700px) and (max-width: 799px) {
    font-size: 38px;
  }

  @media screen and (hover: hover) and (min-width: 616px) and (max-width: 699px) {
    font-size: 35px;
  }

  @media screen and (hover: hover) and (min-width: 523px) and (max-width: 615px) {
    font-size: 30px;
  }

  @media screen and (hover: hover) and (min-width: 453px) and (max-width: 522px) {
    font-size: 25px;
  }

  @media screen and (hover: hover) and (max-width: 452px) {
    font-size: 22px;
  }
}

#second-project:hover > #name-happy {
  font-size: 47.5px;

  @media screen and (hover: hover) and (min-width: 800px) and (max-width: 1000px) {
    font-size: 42px;
  }

  @media screen and (hover: hover) and (min-width: 700px) and (max-width: 799px) {
    font-size: 38px;
  }

  @media screen and (hover: hover) and (min-width: 616px) and (max-width: 699px) {
    font-size: 35px;
  }

  @media screen and (hover: hover) and (min-width: 523px) and (max-width: 615px) {
    font-size: 30px;
  }

  @media screen and (hover: hover) and (min-width: 453px) and (max-width: 522px) {
    font-size: 25px;
  }

  @media screen and (hover: hover) and (max-width: 452px) {
    font-size: 22px;
  }
}

#third-project:hover > #name-personal {
  font-size: 47.5px;

  @media screen and (hover: hover) and (min-width: 800px) and (max-width: 1000px) {
    font-size: 42px;
  }

  @media screen and (hover: hover) and (min-width: 700px) and (max-width: 799px) {
    font-size: 38px;
  }

  @media screen and (hover: hover) and (min-width: 616px) and (max-width: 699px) {
    font-size: 35px;
  }

  @media screen and (hover: hover) and (min-width: 523px) and (max-width: 615px) {
    font-size: 30px;
  }

  @media screen and (hover: hover) and (min-width: 453px) and (max-width: 522px) {
    font-size: 25px;
  }

  @media screen and (hover: hover) and (max-width: 452px) {
    font-size: 22px;
  }
}

#desc-bullseye {
  transition: font-size 0.5s ease;
  position: absolute;
  right: 50px;
  bottom: 115px;

  @media only screen and (min-width: 700px) and (max-width: 799px) {
    bottom: 105px;
  }

  @media only screen and (min-width: 616px) and (max-width: 699px) {
    bottom: 90px;
  }

  @media only screen and (min-width: 523px) and (max-width: 615px) {
    bottom: 80px;
  }

  @media only screen and (min-width: 453px) and (max-width: 522px) {
    bottom: 75px;
  }

  @media only screen and (max-width: 452px) {
    bottom: 65px;
  }
}

#desc-happy {
  transition: font-size 0.5s ease;
  text-decoration: none;

  position: absolute;
  right: 50px;
  bottom: 115px;

  @media only screen and (min-width: 700px) and (max-width: 799px) {
    bottom: 105px;
  }

  @media only screen and (min-width: 616px) and (max-width: 699px) {
    bottom: 90px;
  }

  @media only screen and (min-width: 523px) and (max-width: 615px) {
    bottom: 80px;
  }

  @media only screen and (min-width: 453px) and (max-width: 522px) {
    bottom: 75px;
  }

  @media only screen and (max-width: 452px) {
    bottom: 65px;
  }
}

#desc-personal {
  transition: font-size 0.5s ease;
  text-decoration: none;

  position: absolute;
  right: 50px;
  bottom: 115px;

  @media only screen and (min-width: 700px) and (max-width: 799px) {
    bottom: 105px;
  }

  @media only screen and (min-width: 616px) and (max-width: 699px) {
    bottom: 90px;
  }

  @media only screen and (min-width: 523px) and (max-width: 615px) {
    bottom: 80px;
  }

  @media only screen and (min-width: 453px) and (max-width: 522px) {
    bottom: 75px;
  }

  @media only screen and (max-width: 452px) {
    bottom: 65px;
  }
}

#first-project:hover > #desc-bullseye {
  font-size: 24px;

  @media screen and (hover: hover) and (min-width: 800px) and (max-width: 1000px) {
    font-size: 22px;
  }

  @media screen and (hover: hover) and (min-width: 700px) and (max-width: 799px) {
    font-size: 21px;
  }

  @media screen and (hover: hover) and (min-width: 616px) and (max-width: 699px) {
    font-size: 20px;
  }

  @media screen and (hover: hover) and (min-width: 523px) and (max-width: 615px) {
    font-size: 18px;
  }

  @media screen and (hover: hover) and (min-width: 453px) and (max-width: 522px) {
    font-size: 16px;
  }

  @media screen and (hover: hover) and (max-width: 452px) {
    font-size: 12.2px;
  }
}

#second-project:hover > #desc-happy {
  font-size: 24px;

  @media screen and (hover: hover) and (min-width: 800px) and (max-width: 1000px) {
    font-size: 22px;
  }

  @media screen and (hover: hover) and (min-width: 700px) and (max-width: 799px) {
    font-size: 21px;
  }

  @media screen and (hover: hover) and (min-width: 616px) and (max-width: 699px) {
    font-size: 20px;
  }

  @media screen and (hover: hover) and (min-width: 523px) and (max-width: 615px) {
    font-size: 18px;
  }

  @media screen and (hover: hover) and (min-width: 453px) and (max-width: 522px) {
    font-size: 16px;
  }

  @media screen and (hover: hover) and (max-width: 452px) {
    font-size: 12.2px;
  }
}

#third-project:hover > #desc-personal {
  font-size: 24px;

  @media screen and (hover: hover) and (min-width: 800px) and (max-width: 1000px) {
    font-size: 22px;
  }

  @media screen and (hover: hover) and (min-width: 700px) and (max-width: 799px) {
    font-size: 21px;
  }

  @media screen and (hover: hover) and (min-width: 616px) and (max-width: 699px) {
    font-size: 20px;
  }

  @media screen and (hover: hover) and (min-width: 523px) and (max-width: 615px) {
    font-size: 18px;
  }

  @media screen and (hover: hover) and (min-width: 453px) and (max-width: 522px) {
    font-size: 16px;
  }

  @media screen and (hover: hover) and (max-width: 452px) {
    font-size: 12.2px;
  }
}

.view-project-button {
  width: 150px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to left, #fb9696, #e66465);
  color: white;
  z-index: 3;
  cursor: pointer;
  font-size: 19px;
  transition: all 0.5s ease;
  position: absolute;
  right: 50px;
  bottom: 60px;

  @media only screen and (min-width: 800px) and (max-width: 1000px) {
    width: 140px;
    height: 37px;
    font-size: 17px;
  }

  @media only screen and (min-width: 700px) and (max-width: 799px) {
    width: 130px;
    height: 34.5px;
    font-size: 16px;
  }

  @media only screen and (min-width: 616px) and (max-width: 699px) {
    width: 120px;
    height: 32px;
    font-size: 15px;
    bottom: 45px;
  }

  @media only screen and (min-width: 523px) and (max-width: 615px) {
    width: 110px;
    height: 29.5px;
    font-size: 14px;
    bottom: 40px;
  }

  @media only screen and (min-width: 453px) and (max-width: 522px) {
    width: 100px;
    height: 27px;
    font-size: 13px;
    bottom: 35px;
  }

  @media only screen and (max-width: 452px) {
    width: 90px;
    height: 25.5px;
    font-size: 12px;
    bottom: 30px;
  }
}

.view-project-button2 {
  width: 150px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to left, #d4d086, #bfc207);
  color: white;
  z-index: 3;
  cursor: pointer;
  font-size: 19px;
  transition: all 0.5s ease;
  position: absolute;
  left: 50px;
  bottom: 60px;

  @media only screen and (min-width: 800px) and (max-width: 1000px) {
    width: 140px;
    height: 37px;
    font-size: 17px;
  }

  @media only screen and (min-width: 700px) and (max-width: 799px) {
    width: 130px;
    height: 34.5px;
    font-size: 16px;
  }

  @media only screen and (min-width: 616px) and (max-width: 699px) {
    width: 120px;
    height: 32px;
    font-size: 15px;
    bottom: 45px;
  }

  @media only screen and (min-width: 523px) and (max-width: 615px) {
    width: 110px;
    height: 29.5px;
    font-size: 14px;
    bottom: 40px;
  }

  @media only screen and (min-width: 453px) and (max-width: 522px) {
    width: 100px;
    height: 27px;
    font-size: 13px;
    bottom: 35px;
  }

  @media only screen and (max-width: 452px) {
    width: 90px;
    height: 25.5px;
    font-size: 12px;
    bottom: 30px;
  }
}

.view-project-button3 {
  width: 150px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to left, #0bb5e4, #09e909);
  color: white;
  z-index: 3;
  cursor: pointer;
  font-size: 19px;
  transition: all 0.5s ease;
  position: absolute;
  right: 50px;
  bottom: 60px;

  @media only screen and (min-width: 800px) and (max-width: 1000px) {
    width: 140px;
    height: 37px;
    font-size: 17px;
  }

  @media only screen and (min-width: 700px) and (max-width: 799px) {
    width: 130px;
    height: 34.5px;
    font-size: 16px;
  }

  @media only screen and (min-width: 616px) and (max-width: 699px) {
    width: 120px;
    height: 32px;
    font-size: 15px;
    bottom: 45px;
  }

  @media only screen and (min-width: 523px) and (max-width: 615px) {
    width: 110px;
    height: 29.5px;
    font-size: 14px;
    bottom: 40px;
  }

  @media only screen and (min-width: 453px) and (max-width: 522px) {
    width: 100px;
    height: 27px;
    font-size: 13px;
    bottom: 35px;
  }

  @media only screen and (max-width: 452px) {
    width: 90px;
    height: 25.5px;
    font-size: 12px;
    bottom: 30px;
  }
}

#first-project:hover > #bullseye-view-but {
  width: 165px;
  height: 45px;

  @media only screen and (min-width: 800px) and (max-width: 1000px) and (hover: hover) {
    width: 150px;
    height: 43.5px;
    font-size: 18px;
  }

  @media only screen and (min-width: 700px) and (max-width: 799px) and (hover: hover) {
    width: 135px;
    height: 42.5px;
    font-size: 17px;
  }

  @media only screen and (min-width: 616px) and (max-width: 699px) and (hover: hover) {
    width: 130px;
    height: 39.5px;
    font-size: 16px;
  }

  @media only screen and (min-width: 523px) and (max-width: 615px) and (hover: hover) {
    width: 115px;
    height: 34.5px;
    font-size: 15px;
  }

  @media only screen and (min-width: 453px) and (max-width: 522px) and (hover: hover) {
    width: 110px;
    height: 33.5px;
    font-size: 14px;
  }

  @media only screen and (hover: hover) and (max-width: 452px) {
    width: 95px;
    height: 28.5px;
    font-size: 13px;
  }
}

#second-project:hover > #bullseye-view-but2 {
  width: 165px;
  height: 45px;

  @media only screen and (min-width: 800px) and (max-width: 1000px) and (hover: hover) {
    width: 150px;
    height: 43.5px;
    font-size: 18px;
  }

  @media only screen and (min-width: 700px) and (max-width: 799px) and (hover: hover) {
    width: 135px;
    height: 42.5px;
    font-size: 17px;
  }

  @media only screen and (min-width: 616px) and (max-width: 699px) and (hover: hover) {
    width: 130px;
    height: 39.5px;
    font-size: 16px;
  }

  @media only screen and (min-width: 523px) and (max-width: 615px) and (hover: hover) {
    width: 115px;
    height: 34.5px;
    font-size: 15px;
  }

  @media only screen and (min-width: 453px) and (max-width: 522px) and (hover: hover) {
    width: 110px;
    height: 33.5px;
    font-size: 14px;
  }

  @media only screen and (hover: hover) and (max-width: 452px) {
    width: 95px;
    height: 28.5px;
    font-size: 13px;
  }
}

#third-project:hover > #personal-view-but {
  width: 165px;
  height: 45px;

  @media only screen and (min-width: 800px) and (max-width: 1000px) and (hover: hover) {
    width: 150px;
    height: 43.5px;
    font-size: 18px;
  }

  @media only screen and (min-width: 700px) and (max-width: 799px) and (hover: hover) {
    width: 135px;
    height: 42.5px;
    font-size: 17px;
  }

  @media only screen and (min-width: 616px) and (max-width: 699px) and (hover: hover) {
    width: 130px;
    height: 39.5px;
    font-size: 16px;
  }

  @media only screen and (min-width: 523px) and (max-width: 615px) and (hover: hover) {
    width: 115px;
    height: 34.5px;
    font-size: 15px;
  }

  @media only screen and (min-width: 453px) and (max-width: 522px) and (hover: hover) {
    width: 110px;
    height: 33.5px;
    font-size: 14px;
  }

  @media only screen and (hover: hover) and (max-width: 452px) {
    width: 95px;
    height: 28.5px;
    font-size: 13px;
  }
}

#number-1 {
  font-size: 170px;
  text-decoration: none;
  z-index: 4;
  color: white;
  font-weight: 600;
  font-family: "League Spartan", Helvetica, Arial, sans-serif;
  transition: transform 0.5s ease 0.25s, opacity 0.5s ease;
  position: relative;
  transform: translateY(15px);
  overflow: hidden;
  opacity: 0;

  @media only screen and (min-width: 616px) and (max-width: 699px) {
    font-size: 140px;
  }

  @media only screen and (min-width: 523px) and (max-width: 615px) {
    font-size: 120px;
  }

  @media only screen and (min-width: 453px) and (max-width: 522px) {
    font-size: 100px;
  }

  @media only screen and (max-width: 452px) {
    font-size: 80px;
  }
}

#number-1::before {
  transition: height 0.4s ease 0.4s;
  // content: attr(data-text);
  content: "";
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 0;
  color: rgb(148, 144, 144);
  height: 100%;
}

#first-project:hover > #number-1::before {
  height: 0;
}

#first-project:hover > #number-1 {
  opacity: 1;
  transform: translateY(-15px);
}

#number-2 {
  font-size: 170px;
  text-decoration: none;
  z-index: 4;
  color: white;
  font-weight: 600;
  font-family: "League Spartan", Helvetica, Arial, sans-serif;
  transition: transform 0.5s ease 0.25s, opacity 0.5s ease;
  position: relative;
  transform: translateY(15px);
  overflow: hidden;
  opacity: 0;

  @media only screen and (min-width: 616px) and (max-width: 699px) {
    font-size: 140px;
  }

  @media only screen and (min-width: 523px) and (max-width: 615px) {
    font-size: 120px;
  }

  @media only screen and (min-width: 453px) and (max-width: 522px) {
    font-size: 100px;
  }

  @media only screen and (max-width: 452px) {
    font-size: 80px;
  }
}

#number-2::before {
  transition: height 0.4s ease 0.4s;
  content: "";
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 0;
  color: rgb(148, 144, 144);
  height: 100%;
}

#second-project:hover > #number-2::before {
  height: 0;
}

#second-project:hover > #number-2 {
  opacity: 1;
  transform: translateY(-15px);
}

#number-3 {
  font-size: 170px;
  text-decoration: none;
  z-index: 4;
  color: white;
  font-weight: 600;
  font-family: "League Spartan", Helvetica, Arial, sans-serif;
  transition: transform 0.5s ease 0.25s, opacity 0.5s ease;
  position: relative;
  transform: translateY(15px);
  overflow: hidden;
  opacity: 0;

  @media only screen and (min-width: 616px) and (max-width: 699px) {
    font-size: 140px;
  }

  @media only screen and (min-width: 523px) and (max-width: 615px) {
    font-size: 120px;
  }

  @media only screen and (min-width: 453px) and (max-width: 522px) {
    font-size: 100px;
  }

  @media only screen and (max-width: 452px) {
    font-size: 80px;
  }
}

#number-3::before {
  transition: height 0.4s ease 0.4s;
  content: "";
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 0;
  color: rgb(148, 144, 144);
  height: 100%;
}

#third-project:hover > #number-3::before {
  height: 0;
}

#third-project:hover > #number-3 {
  opacity: 1;
  transform: translateY(-15px);
}

.text-aboutme {
  font-size: 27px;
  margin-top: 30px;
  width: 68%;
  color: #f89757;
  line-height: 1.2;

  @media only screen and (min-width: 1001px) and (max-width: 1300px) {
    font-size: 23px;
  }

  @media only screen and (min-width: 800px) and (max-width: 1000px) {
    font-size: 20px;
  }

  @media only screen and (min-width: 700px) and (max-width: 799px) {
    font-size: 18px;
  }

  @media only screen and (min-width: 616px) and (max-width: 699px) {
    font-size: 16px;
  }

  @media only screen and (min-width: 523px) and (max-width: 615px) {
    font-size: 15px;
  }

  @media only screen and (min-width: 453px) and (max-width: 522px) {
    font-size: 13px;
  }

  @media only screen and (max-width: 452px) {
    font-size: 12px;
  }
}

.form-group {
  height: 5vh;
  width: 70%;
  position: relative;
  margin-bottom: 4vh;
}

.input-contactform {
  background: transparent;
  border-bottom: 1px solid #08fdd8 !important;
  border: none;
  position: relative;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 19px;
  font-family: Arial, Helvetica, sans-serif;
}

.input-contactform:focus {
  outline-width: 0;
}

.input-contactform + #name-label-contact {
  font-size: 16px;
}

.label-contactform {
  position: absolute;
  bottom: 10px;
  left: 0;
  z-index: 2;
  font-size: 25px;
  transition: all 0.3s ease;
  cursor: text;
  user-select: none;

  @media only screen and (min-width: 616px) and (max-width: 699px) {
    font-size: 23px;
  }

  @media only screen and (min-width: 523px) and (max-width: 615px) {
    font-size: 21px;
  }

  @media only screen and (min-width: 453px) and (max-width: 522px) {
    font-size: 19px;
  }

  @media only screen and (max-width: 452px) {
    font-size: 17px;
  }
}

.label-contactform-textarea {
  position: absolute;
  bottom: 15px;
  left: 0;
  z-index: 2;
  font-size: 25px;
  transition: all 0.3s ease;
  cursor: text;
  user-select: none;

  @media only screen and (min-width: 616px) and (max-width: 699px) {
    font-size: 23px;
  }

  @media only screen and (min-width: 523px) and (max-width: 615px) {
    font-size: 21px;
  }

  @media only screen and (min-width: 453px) and (max-width: 522px) {
    font-size: 19px;
  }

  @media only screen and (max-width: 452px) {
    font-size: 17px;
  }
}

.focused > .label-contactform {
  font-size: 16px;
  transform: translateY(-200%);
}

.focused > .label-contactform-textarea {
  font-size: 16px;
  transform: translateY(-200%);
}

textarea {
  resize: none;
}

.message-top {
  font-size: 30px;
  margin-bottom: 2vh;
}

.message-top2 {
  font-size: 40px;
  margin-bottom: 2vh;
}

#submit-contactform {
  cursor: pointer;
  width: 160px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px white solid;
  transition: all 0.3s ease;
  font-size: 20px;
  background-color: black;
  color: white;
  &:hover {
    background-color: white;
    color: black;
  }
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.nodisplay {
  display: none !important;
}

.fadeincontact {
  animation: v 0.5s ease;
}

@keyframes v {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.errortext {
  color: red;
  font-size: 20px;
  margin-top: 20px;
}

.overlay-projects {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: blue;
  z-index: 200;
}

.overlay-transform-left {
  transform: translateX(-100%);
  transition: all 1s ease;
  animation: f 1s ease;
  opacity: 0;
}

.overlay-transform-right {
  transform: translateX(100%);
  transition: all 1s ease;
  animation: f 1s ease;
  opacity: 0;
}

@keyframes f {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.message-top {
  @media only screen and (min-width: 1001px) and (max-width: 1300px) {
    font-size: 28px;
  }

  @media only screen and (min-width: 800px) and (max-width: 1000px) {
    font-size: 26px;
  }

  @media only screen and (min-width: 700px) and (max-width: 799px) {
    font-size: 24px;
  }

  @media only screen and (min-width: 616px) and (max-width: 699px) {
    font-size: 22px;
  }

  @media only screen and (min-width: 523px) and (max-width: 615px) {
    font-size: 18.5px;
  }

  @media only screen and (min-width: 453px) and (max-width: 522px) {
    font-size: 15px;
  }

  @media only screen and (max-width: 452px) {
    font-size: 12px;
  }
}

.message-top2 {
  @media only screen and (min-width: 1001px) and (max-width: 1300px) {
    font-size: 36px;
  }

  @media only screen and (min-width: 800px) and (max-width: 1000px) {
    font-size: 33px;
  }

  @media only screen and (min-width: 700px) and (max-width: 799px) {
    font-size: 30px;
  }

  @media only screen and (min-width: 616px) and (max-width: 699px) {
    font-size: 27px;
  }

  @media only screen and (min-width: 523px) and (max-width: 615px) {
    font-size: 24px;
  }

  @media only screen and (min-width: 453px) and (max-width: 522px) {
    font-size: 19px;
  }

  @media only screen and (max-width: 452px) {
    font-size: 19px;
  }
}
